*{
  padding: 0;
  margin: 0;

}




body{
    background-image: linear-gradient(to top left,red,pink,purple);
    background-repeat: no-repeat;
    height: 635px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#container{
    background-color: rgba(238, 34, 204, 0.404);
    
    width: 800px;
    border: 2px solid rgb(138, 4, 179);
    box-shadow: 10px 10px 5px gray;
    border-radius: 20px;

    


} 
h1{
    color: rgb(85, 3, 102);
    text-shadow: 10px 8px 5px rgb(180, 24, 110);
    text-align: center;
} 


#items{
   background-color: rgb(194, 10, 231);
   display: flex;
    justify-content:center;
    align-items: center;
  flex-wrap: wrap;
    border-radius: 10px;
    margin: 20px ;
    gap: 5px;
    
}
#bgcolor{
    width: 30px;
    height: 7px;
    border: none;
    position: relative;
    top: 20px;
    right: 40px;
    
    
    
} 
button:hover{
  background-color: gray;
  color: white;
  cursor: pointer;
}
    
   #filler{
    position: relative;
   }   
   #textcolor{
    font-size: 20px;
    position: relative;
    top: -4px;
   
  } 
   #color{
    width: 30px;
    height: 7px;
    position: relative;
    right: 30px;
    top: 15px;

  
  } 
   #text{
    position: relative;
    right: 20px;
  } 
  #para{
    background-color: white;
    height: 300px;
    width: 700px;
    margin: auto;
      margin-bottom: 10px;
    padding: 10px;
      border-radius: 10px;
      box-shadow: 5px 5px 5px gray;
      font-size: 20px;
      color: black;
      overflow-y: scroll;
      outline: none;

    
  }